@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --white-background: #ffffff;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --second-font: 'Raleway';
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --tertiary-color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--white-background);
  letter-spacing: 0.03em;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
}

.header__link,
.header__link--mail,
.header__link--tel,
.address__list .link,
.portfolio__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button,
.social-network__link,
.social-icons__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon,
.social-network__icon,
.clients-box__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box__link {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-mob-menu {
  height: 100%;
  width: 100vw;
  padding-top: 21px;
  padding-right: 21px;
  padding-left: 40px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  left: 0;
  -webkit-transform: translate(0, -100%) rotate(0deg) scale(0);
  transform: translate(0, -100%) rotate(0deg) scale(0);
}

.modal {
  width: 450px;
  height: 609px;
  background: var(--white-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100vw - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__close--icon-Х {
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__close--icon-Х {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
}

.modal-form__button {
  display: block;
  padding: 10px 55px 10px 56px;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.87;
  font-weight: 700;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  outline: currentColor;
}

.modal-form__contract {
  margin-bottom: 30px;
}

.modal-form__user-contract {
  font-size: 12px;
  line-height: 1.166;
  white-space: nowrap;
  color: var(--tertiary-color);
}

@media screen and (max-width: 479px) {
  .modal-form__user-contract {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__user-contract {
    line-height: 1.71;
  }
}

.modal-form__user-contract span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-color);
  margin-right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-contract a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #2196f3;
  outline: transparent;
}

@media screen and (max-width: 479px) {
  .modal-form__user-contract a {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal-form__user-contract a:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: calc(23 / 20);
  }
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-form__input-checkbox:checked + .modal-form__user-contract .modal-form__icon-checkbox {
  fill: var(--secondary-color);
}

.modal-form__input-checkbox:checked + .modal-form__user-contract span {
  border: none;
  background-color: var(--accent-color);
}

.modal-form__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon-checkbox {
  width: 16px;
  height: 15px;
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon--black-man {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modal-form__icon--tel {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 14.27px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modal-form__icon--mail {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 13.5px;
}

.modal-form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--tertiary-color);
  margin-bottom: 4px;
  display: block;
}

.modal-form__textarea {
  resize: none;
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-height: 120px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea[placeholder] {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.header__list--contacts {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list--contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header__link {
  display: block;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link:active,
.header__link:focus,
.header__link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__link--mail {
    margin-bottom: 10px;
  }
}

.header__link--mail,
.header__link--tel {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--tertiary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link--mail:hover,
.header__link--mail:focus,
.header__link--tel:hover,
.header__link--tel:focus {
  color: var(--accent-color);
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__icon {
  fill: var(--tertiary-color);
  margin-right: 10px;
}

.header__icon--tel {
  width: 10px;
  height: 16px;
}

.header__icon--mail {
  width: 16px;
  height: 12px;
}

.header__icon:hover {
  fill: var(--accent-color);
}

.header__item:focus .header__icon,
.header__item:hover .header__icon {
  fill: var(--accent-color);
}

.site-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  min-width: 134px;
  min-height: 28px;
  color: var(--accent-color);
}

.site-logo__span--black {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .site-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    min-width: 145px;
    min-height: 31px;
    margin-right: 93px;
  }
}

.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-burger-btn {
  display: block;
  margin-left: auto;
}

.menu-burger-btn__icon {
  width: 40px;
  height: 40px;
}

.menu-burger-btn:hover .menu-burger-btn__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-burger-btn {
    display: none;
  }
}

.mob-menu {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mob-menu__close-btn {
  display: block;
  margin-left: auto;
}

.mob-menu__icon-close {
  width: 19px;
  height: 19px;
}

.mob-menu__close-btn:hover .mob-menu__icon-close {
  fill: #2196f3;
}

.menu-top .menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-bottom .menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-both {
  position: absolute;
  bottom: 0;
}

.menu-bottom {
  margin-bottom: 64px;
}

.menu-top .menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-socseti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
}

.menu-socseti__icon-line {
  height: 20px;
  width: 5px;
  fill: black;
}

.menu-socseti__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-socseti__item {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-socseti__item + .menu-socseti__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: var(--dark-background);
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/hero-img-mob-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-img-mob-2x.JPG);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-mob-2x.JPG);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-img-tab-1x.JPG);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-tab-1x.JPG);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-img-tab-2x.JPG);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-tab-2x.JPG);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-img-desk-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-img-desk-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-desk-2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.order-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-color);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.advantages-list__title {
  font-size: inherit;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages-list__title {
    text-align: center;
  }
}

.advantages-list__text {
  line-height: 1.71;
  color: var(--tertiary-color);
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .advantages-list__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__text {
    width: 270px;
  }
}

.advantages-list__item {
  -ms-flex-preferred-size: calc(100% - 30px);
  flex-basis: calc(100% - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.advantages-list__item::before {
  content: '';
  background-color: var(--light-background);
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-list__item:nth-child(1)::before {
  background-image: url('../images/antenna-mob-1x.svg');
}

.advantages-list__item:nth-child(2)::before {
  background-image: url('../images/clock.svg');
}

.advantages-list__item:nth-child(3)::before {
  background-image: url('../images/diagram.svg');
}

.advantages-list__item:nth-child(4)::before {
  background-image: url('../images/astronaut.svg');
}

.what-we-do__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.what-we-do {
  margin: -15px;
  padding-top: 0;
}

.what-we-do__img {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do__title {
  margin-bottom: 50px;
}

.what-we-do__item {
  position: relative;
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.what-we-do__overlay {
  position: absolute;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
}

.team {
  background-color: var(--light-background);
}

.team__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .team__list {
    margin: -15px;
  }
}

.team__card {
  width: calc(100% - 30px);
  margin: 15px;
  background-color: var(--white-background);
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
    flex-basis: calc((100% - 4 * 30px) / 4);
    padding-bottom: 30px;
    max-width: 270px;
  }
}

.team__card-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team__card-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: 16px;
}

.team__card-image {
  width: 100%;
  margin-bottom: 30px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-network__link {
  width: 44px;
  height: 44px;
  background-color: var(--white-background);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-network__link:hover,
.social-network__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .social-network__item + .social-network__item {
    margin-left: 10px;
  }
}

.social-network__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: var(--secondary-color);
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients-box {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clients-box__item {
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-box__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-box__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients-box__link {
  width: 100%;
  height: 92px;
  background-color: var(--white-background);
  border: 1px solid #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.clients-box__link:focus,
.clients-box__link:hover {
  border: var(--accent-color) 1px solid;
}

.clients-box__link:focus .clients-box__icon,
.clients-box__link:hover .clients-box__icon {
  fill: var(--accent-color);
}

.clients-box__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

.logo__span--white {
  color: var(--secondary-color);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__join {
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-bottom: -60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__connect {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__connect {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__connect {
    margin-right: 93px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.address {
  margin-top: 20px;
}

.address__list .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-color);
}

.address__list .link:hover,
.address__list .link:focus {
  color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-mail,
.address-tel {
  opacity: 0.6;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icon {
  fill: var(--secondary-color);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .form-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .form-subscription {
    margin-top: 102px;
  }
}

.form-subscription__input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100vw - 30px);
  background: var(--dark-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form-subscription__input {
    width: calc(67vw - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription__input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscription-btn {
  background: var(--accent-color);
  width: 200px;
  height: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--secondary-color);
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-size: 16px;
  font-weight: 700;
  padding-right: 28px;
  padding-left: 29px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.portfolio__link:hover,
.portfolio__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio__btn {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 40px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .portfolio__btn {
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btn {
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.portfolio-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-wrap {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-wrap {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio__title {
  white-space: nowrap;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__aftertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--tertiary-color);
}

.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-color);
  background: var(--light-background);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button.active,
.portfolio__button:active,
.portfolio__button:focus,
.portfolio__button:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    margin: 15px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    margin: 15px;
  }
}

.portfolio__card-box {
  width: 370px;
  height: 294px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.portfolio__project {
  max-width: 354px;
  width: 100%;
  height: 100%;
}

.portfolio__text {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color);
  padding: 63px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  .portfolio__text {
    max-width: 354px;
  }
}

.portfolio__card:hover .portfolio__text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio__item {
  margin-bottom: 15px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .proekt-name {
  max-width: 354px;
  padding: 20px 24px;
  background: var(--white-background);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .portfolio .proekt-name {
    max-width: 354px;
  }
}
/*# sourceMappingURL=main.css.map */
