.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1); */
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden .modal {
    left: 0;
    transform: translate(0, -100%) rotate(0deg) scale(0);
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--white-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
      cursor: pointer;
    }

    &--icon-Х {
      width: 11px;
      height: 11px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover &--icon-Х {
      fill: var(--accent-color);
    }
  }
}

.modal-form {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;

  &__button {
    display: block;
    padding: 10px 55px 10px 56px;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.87;
    font-weight: 700;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    outline: currentColor;
  }

  &__contract {
    margin-bottom: 30px;
  }

  &__user-contract {
    color: var(--tertiary-color);
    line-height: 1.71;

    & span {
      width: 16px;
      height: 15px;
      border: 1px solid var(--primary-color);
      margin-right: 8.38px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a {
      text-decoration-line: underline;
      color: #2196f3;
      outline: transparent;

      &:focus {
        border: 1px solid var(--accent-color);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 12px;
  }

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
      outline: transparent;
    }
    &-checkbox:checked + .modal-form__user-contract .modal-form__icon-checkbox {
      fill: var(--secondary-color);
    }
    &-checkbox:checked + .modal-form__user-contract span {
      border: none;
      background-color: var(--accent-color);
    }
  }

  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus ~ & {
      fill: var(--accent-color);
    }

    &-checkbox {
      width: 16px;
      height: 15px;
      fill: transparent;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--black-man {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    &--tel {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 50%;
      left: 14.27px;
      transform: translateY(-50%);
    }

    &--mail {
      width: 15px;
      height: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 13.5px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--tertiary-color);
    margin-bottom: 4px;
    display: block;
  }

  &__textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    min-height: 120px;
    margin-bottom: 20px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &[placeholder] {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
      outline: transparent;
    }
  }
  &__field {
    position: relative;
    margin-bottom: 10px;
  }
}
