:root {
  --accent-color: #2196f3;
  --white-background: #ffffff;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --second-font: 'Raleway';
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --tertiary-color: #757575;
}
