.clients {
  &__title {
    margin-bottom: 50px;
  }
}
.clients-box {
  @include position();
  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    width: 170px;
    height: 92px;
    background-color: var(--white-background);
    border: 1px solid #afb1b8;
    @include position();
    align-items: center;
    border-radius: 4px;
    @extend %transition-border;

    // @include (border);

    &:focus,
    &:hover {
      border: var(--accent-color) 1px solid;

      & .clients-box__icon {
        fill: var(--accent-color);
      }
    }
  }

  &__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    @extend %transition-fill;
  }
}
