.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    font-size: inherit;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    color: var(--tertiary-color);
    width: 270px;
  }

  &__item {
    &::before {
      content: '';
      background-color: var(--light-background);
      width: 270px;
      height: 120px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
      margin-bottom: 30px;
    }

    &:nth-child(1)::before {
      background-image: url('../images/antenna.svg');
    }

    &:nth-child(2)::before {
      background-image: url('../images/clock.svg');
    }

    &:nth-child(3)::before {
      background-image: url('../images/diagram.svg');
    }

    &:nth-child(4)::before {
      background-image: url('../images/astronaut.svg');
    }
  }
}
